<%- include('layout') %>



    <main>
        <% if (content=="" ) { %>
            <p style="color: white;
            background-color: black;
            font-weight: bold;
            font-size: 50px;
            text-shadow: 0px -1px mediumpurple,
                0px 3px mediumpurple;
            position: fixed;
            left: 593px;
            top: 350px;">
                Welcome, <%= userName %>!
            </p>
            <% } %>
                <%else{ %>
                    <%= content %>
                        <%}%>


                            <form>
                                <p><input type="text" placeholder="Message ChatGPT..." name="inputbar" required><button
                                        type="submit" value="enter" class="button">Enter</p>
                            </form>



    </main>

    <script defer>
        var allUserDetails = JSON.parse(localStorage.getItem("users"));
        console.log(allUserDetails);
        console.log(localStorage.getItem("users"));
        document.addEventListener("DOMContentLoaded", function () {

        });
        function displayContent() {
            if (content == null) {
                return user
            }
        }
    </script>