<%- include('layout') %>

    <script>
        function goToPreLoginLight() {

        }

        function goToPreLoginDark() {
            window.location.href = "/preLogin";
        }

        console.log(localStorage.getItem("users"))


    </script>


    <p style="color: white;
background-color: black;
font-weight: bold;
font-size: 35px;
text-shadow: 0px -1px mediumpurple,
    0px 4px mediumpurple;
position: fixed;
left: 650px;
top: 300px;">Select Theme</p>

    <form action="/" method="post">
        <p><button type="button" onclick="goToLoginLight()" value="SignUp" name="light" class="button">Light</button>
        </p>
        <p><button type="button" onclick="goToLoginDark()" value="LogIn" name="dark" class="button">Dark</button></p>


    </form>